// Specific CSS for your home-page
.home-container {
  background: url('shared/home_background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
  min-height: 100%;
  width: auto;
  min-width: 1000px;
  overflow: hidden;
  position: relative;
}

.home-container .description {
  flex-grow: 1;
  position: absolute;
  height: 200px;
  top: 50px;
  right: 200px;
  // margin-left: 850px;
  // margin-top: 50px;
}

// .home-container p {
//   color: #ffb7bc;
//   text-align: center;
//   font-size: 25px;
//   text-shadow: 1px 1px 1px white;
// }

// .landing-nav {
//   height: 0px;
// }

.home-container .logo {
  height: 300px;
  // margin-left: 250px;
  // margin-top: 155px;
}

// .index-search {
//   display: flex;
// }
