// Specific CSS for your home-page
.home-container {
  background: url('shared/home_background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 600px;
  width: auto;
  min-width: 1010px;
}

.home-container .description {
  flex-grow: 1;
  position: absolute;
  height: 200px;
  top: 50px;
  right: 200px;
}

.home-container .logo {
  height: 300px;
}

.landing-icon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  text-align: center;
}

.landing-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 400px;
  height: 250px;
  width: 100%;
}

.icon-info {
  text-align: center;
}

.landing-info h2 {
  text-align: center;
  margin-top: 60px;
  font-family: 'Amatic SC', cursive;
}

.facts-content {
  display: flex;
}

.plant-facts h2 {
  text-align: center;
  margin-bottom: 60px;
  font-family: 'Amatic SC', cursive;
}

.plant-facts img {
  height: 500px;
  width: 700px;
  background-size: contain;
}

.facts li {
  font-size: larger;
  margin: 20px;
  text-align: center;
  list-style-type: none;
  margin-top: 28px;
}

.facts p {
  text-align: center;
  margin: 20px;
}

.facts {
  background-color: #ffd6d8;
}

.log-in-banner {
  display: flex;
  background-color: white;
}

.log-in-banner img {
  width: 800px;
}

.banner-info {
  text-align: center;
  margin-top: 100px;
  margin-right: 40px;
  margin-left: 40px;
}

.banner-info p {
  margin-bottom: 50px;
}

.featured-plants h3 {
  font-size: 50px !important;
}

p, li, a {
  font-family: 'Quicksand';
}

.top-btn {
  margin-left: 30px;
  margin-bottom: 30px;
}
