.your-garden-heading {
  background: url('image/kindpng_1704625.png');
}

.container-garden {
  display: flex;
  flex-direction: row
}

.your-garden {
  padding-left: 16px
}

.profile-container {
  background-color: #05cec0;
  padding: 18px;

  .fa-solid {
    font-size: 28px;
  }
}

.garden-plant-info .garder-user-actions {
  display: flex;
  justify-content: space-between;

  .fa-solid {
  text-decoration: none;
  font-size: 15px;
  }
}


.profile_image {
  width: 70px;
  // display: block;
  border-radius: 50%;
  text-align: center;
}


.first-name {
  padding-top: 8px;
}

.star-rating {
  display: flex;
  color: gold;
  margin-bottom: 8px;
}

.review-card {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px;
  margin-bottom: 16px;

  & p:last-child {
    margin-bottom: 0;
  }
}
