<div class="container-xxl">
  <br />
    <h1>Confirm your order with <%= @plant.user.first_name %> <%= @plant.user.last_name %></h1>
  <br />
  <div>
     <%= render "shared/new_booking_label" %>
  </div>
  <br />
  <br />
  <input type="button" value="Back" onclick="history.back()" class="pink-btn" />
  <br />
</div>
