<div class="footer">
  <div class="container-xxl footer-inner">
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="footer-copyright">
        © PlantSwap est. 2022
      </div>
  </div>
</div>
