<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path("shared/index_banner_two.png") %>');">
  <div class="container">
    <h1>Check out the plants</h1>
  </div>
</div>

<div class="container">
    <%= render 'shared/cards' %>
</div>

<div class="top-btn">
  <%= link_to "Back to top", plants_path, class: "pink-btn" %>
</div>
