<div class="text-center">
<h1>It's always time for a coffee break</h1>
<%= image_tag("coffee_mug.jpg", size: '350x350', alt: "coffee mug")  %>
<h2>We should be back by the time you finish your coffee</p>
</div>
