<div class="text-center">
<h1>Congrats. You broke it!</h1>
<%= image_tag("broken_vase.png", size: '500x500', alt: "broken vase", class:"border border-dark")  %>
<h2>This page doesn't exist or some other horrible error has occurred</p>
</div>
