<div class="text-center">
<h1>Change Rejected!</h1>
<h2>You may have tried to change something you don't have access to.</h2>
<%= image_tag("baby_groot.png", size: '250x250', alt: "baby groot")  %>
<p>If you continue to experience issues, please send us an email at
<a href="#">support@plant-swap.live</a>. Let us know what you were trying to do
and we will be sure to get it straightened out</p>
</div>
