*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.search svg {
  height: 6rem;
  padding: 1.5rem;
  position: absolute;
  cursor: pointer;
}
.search__icon {
  fill: #767b91;
  z-index: 99;
}
.search__close {
  right: 0;
  fill: white;
  transition: 500ms fill ease-in;
}
.search__delete {
  fill: #c7ccdb;
  right: 5rem;
  display: none;
}
.search input {
  box-shadow: 0 0 10px 5px #e1e5ee;
  border: none;
  border-radius: 50%;
  padding: 1.75rem 3rem;
  font-family: inherit;
  font-size: 2rem;
  color: #767b91;
  outline: none;
  width: 2rem;
  transition: 500ms width ease-in-out, 500ms padding ease-in-out, 500ms border-radius ease-in-out;
}
.search input:not(:placeholder-shown) ~ .search__delete {
  display: block;
}
.search-open input {
  width: 34rem;
  padding: 1.5rem 11rem 1.5rem 6rem;
  border-radius: 0.2rem;
}
.search-open svg.search__close {
  fill: #767b91;
}
