.return-btn {
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  color: #A9B95A;
  font-size: 40px;
  text-shadow: rgba(0, 0, 0, 0.19) 0px 0px 20px, rgba(0, 0, 0, 0.23) 0px 0px 0px;;
}

.back-btn:hover {
  background-color: #fa949b;
}
