// .booking-wrapper {
//   display: flex;
//   justify-content: center;
// }

.booking-card {
  display: flex;
  justify-content: space-between;
  background-color: #F4F4F4;
  border: 1px solid #1C5252 ;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  // max-width: 800px;
}

.booking-content {
  flex-grow: 1;
  padding-left: 10px;
  padding-right: 10px;
}

.booking-image {
  display: flex;
  align-items: center;
}

.booking-image img {
  border-radius: 0.25rem;
}

.booking-user-action {
  padding-left: 10px;
  flex-grow: 0;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.booking-user-action a {
  display: block;
}

.nav > button {
  color: black;
  font-weight: bolder;
}
