.full-card {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 306px;
  text-decoration: none;
  background-color: white;
  padding-bottom: 10px;
}

.plant-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
  justify-content: center;
  margin-top: 36px;
}

.plant-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #1A3263;
}

// .plant-card p {
//   font-size: 12px;
//   opacity: .7;
//   margin: 0;
//   color: #1A3263;
// }


.plant-card .plant-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.plant-info .card-plant-user-index {
  right: 16px;
  top: -20px;
  width: 40px;
}

.index-heading {
  color: white;
}

@media(max-width: 992px) {
  .plant-card {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .plant-card {
    grid-template-columns: 1fr;
    align-items: center;
  }
}

.full-card:hover {
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
}
