.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.container-footer {
  flex-grow: 1;
}
.footer {
  background-color: #fae1ce;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  height: 65px;
  color: rgba(0,0,0,0.3);
  width: 100%;
  bottom: 0;
  flex-shrink: 0;
  flex-grow: 0;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.15;
}

.footer-copyright {
  color: black;
}

.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
