.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.container-footer {
  flex-grow: 1;
}
.footer {
  background: #1c5253;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  padding: 0px 24px;
  color: rgba(0,0,0,0.3);
  width: 100%;
  bottom: 0;
  flex-shrink: 0;
  flex-grow: 0;
}
.footer-links {
  display: flex;
  align-items: center;
  margin-left: 87px;
}
.footer-links a {
  color: #ffb7bc;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.15;
}

.footer-copyright {
  margin-right: 87px;
  color: #ffb7bc;
}
