.plant-card-garden {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 300px;
  background-color: white;
  text-decoration: none;
}

.your-garden .card-grid {
  flex-grow: 1;
  display: flex;
  grid-gap: 16px;
  flex-wrap: wrap;
}

.plant-card-garden:hover {
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
}

.plant-card-garden .garden-plant-info {
  padding: 16px;
}
