.plant-card-garden {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 300px;
  background-color: white;
}

.plant-card-garden:hover {
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
}

.your-garden {
  background: url('image/kindpng_1704625.png');
}
