.listing-card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 16px;
  padding: 21px;
  width: 1000px;
  justify-content: center;
  align-items: center;
  margin-left: 160px;
  background-image: url("card-img");
}

.listing-card h1 {
  text-align: center;
}
