.navbar-btn {
  color: #fba1a7;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  font-size: 16px;
  padding: 8px;
}

.navbar-login {
  border: none;
  color: #fba1a7;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
}

.navbar-login:hover {
  color: #ffb7bc;
  opacity: 0.5;
}

.navbar-btn:hover {
  opacity: 0.5;
  // border-color: 2px #FFB7BC;
}

.dropdown-toggle {
  align-items: center;
}

.navbar .border {
  border-color: white !important;
  border-width: 2px !important;
  border-radius: 6px;
  background-color: #FFB7BC;
  color: white;
}
