.navbar-landing {
  height: 75px;
  display: flex;
  justify-content: space-evenly;
}

.navbar-landing .navbar-collapse {
  flex-grow: 0;
}

.navbar-landing .navbar-brand img {
  width: 380px;
  margin-left: 500px;
}
