.navbar-pages {
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  background-color: #1E352F;}

.navbar-pages .navbar-collapse {
  flex-grow: 0;
}

.navbar-pages .navbar-brand img {
  width: 580px;
  margin-left: 420px;
  margin-top: 10px;
}

.navbar-icons a {
  color: #ffb7bc;
  margin-right: 12px;
}
