.navbar-pages {
  display: flex;
  justify-content: space-evenly;
  background-color: #fcd5b7;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  height: 75px;
}

.navbar-pages .navbar-collapse {
  flex-grow: 0;
}

.dropdown-menu {
 background-color: #fecbcf;
 border-radius: 6px;
}

.dropdown-item:hover {
  background-color: #ee9ca1;
}

.navbar-pages .navbar-brand img {
  width: 50px;
  margin-top: 10px;
  margin-right: 10px;
}

.navbar-icons a {
  color: black;
  margin-right: 12px;
  font-size: 18px;
}

.navbar-icons a:hover {
  opacity: 0.5;
  border: 2px #FFB7BC ;
}

.search-form-control  {
  display: flex;
  width: 350px;
  height: 40px;
}

.search-form-control button {
  padding-top: 10px;
  padding-bottom: 7px;
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 5px;
}

.icon-and-search {
  display: flex;
  justify-content: center;
}

.nav-centre {
  display: flex;
  flex-direction: column;
  align-items: center;
}
