.plant-show-container {
  display: flex;
}

.container-label-img {
  // padding: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
}


.container-label-img img {
  align-items: center;
  margin-right: 20px;
  object-fit: cover;
  // position: absolute;
}

.container-label-img .image-show-avatar {
  // position: relative;
  // right: 16px;
  // top: 70px;
  width: 70px;
  height: 70px;
  position: absolute;
  object-fit: fill;
  // align-self: flex-start;
  // object-position: 0%;
  left: 84%;
  top: 1%;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 2px solid;
  object-fit: cover;
  ;
}

.container-label-info {
  align-items: center;
  margin-left: 10px;
}

#map {
  margin-left: 630px;
}


// .label-img {

// }

// .card-product {
//   box-shadow: 0 0 20px grey;
//   align-items: center;
//   margin-left: 200px;
//   margin-right: 200px;
//   border-radius: 16px;
//   display: flex;
//   justify-content: center;
// }


// .card-product img {
//   height: 300px;
//   object-fit: cover;
//   border-top-left-radius: 16px;
//   border-bottom-left-radius: 16px;
//   padding-right: 16px;
// }

// .card-product p {
//   display: flex;
// }

// .desc-container {
//   display: flex;
//   justify-content: space-between;
//   width: 100%;
// }

// .desc-container h2 {
//   justify-content: center;
//  }

//  .card-product-cat {
//   box-shadow: 0 0 20px grey;
//   margin-left: 200px;
//   margin-right: 200px;
//   border-radius: 16px;
//   display: flex;
// }

// .card-product-cat img {
//   height: 300px;
//   object-fit:contain;
//   background-color: white;
// }
