.plant-show-container {
  display: flex;
  justify-content: space-between;
}

.container-label-img {
  align-items: center;
  margin-right: 20px;
}

.container-label-info {
  align-items: center;
}

#map {
  margin-left: 630px;
}

// .label-img {

// }

// .card-product {
//   box-shadow: 0 0 20px grey;
//   align-items: center;
//   margin-left: 200px;
//   margin-right: 200px;
//   border-radius: 16px;
//   display: flex;
//   justify-content: center;
// }


// .card-product img {
//   height: 300px;
//   object-fit: cover;
//   border-top-left-radius: 16px;
//   border-bottom-left-radius: 16px;
//   padding-right: 16px;
// }

// .card-product p {
//   display: flex;
// }

// .desc-container {
//   display: flex;
//   justify-content: space-between;
//   width: 100%;
// }

// .desc-container h2 {
//   justify-content: center;
//  }

//  .card-product-cat {
//   box-shadow: 0 0 20px grey;
//   margin-left: 200px;
//   margin-right: 200px;
//   border-radius: 16px;
//   display: flex;
// }

// .card-product-cat img {
//   height: 300px;
//   object-fit:contain;
//   background-color: white;
// }
