<h1>Review your experience</h1>
<div data-controller="star-rating">
  <%= simple_form_for [@booking, @review] do |f| %>
    <%= f.input :rating, collection: (1..5), label: "Rating", id: "review_rating" %>
    <%= f.input :content, label: "Comments" %>
    <%= f.submit "Submit your review", class: "pink-btn" %>
  <% end %>
</div>
