<h1>New review</h1>
<%= simple_form_for [@booking, @review] do |f| %>
  <%= f.input :rating, collection: (1..5) %>
  <%= f.input :content %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
